.section-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.section-header h3 {
  font-size: 20px;
  font-weight: bold;
}

.section-header p {
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.section-header .more {
  font-size: 12px;
  color: #999;
  text-decoration: underline;
}
